/* ----------------- GLOBAL ----------------- */
:root {
  /* ----------------- variables ----------------- */
  --primary-text-color: #757575; /* цвет основного текста*/
  --title-text-color: #212121; /* цвет заголовков*/

  --accent-color: #2196f3; /* основной акцент + цвет логотита*/
  --header-logo-color: #000000; /* второй цвет логотита в хедере*/
  --footer-logo-color: #ffffff; /* второй цвет логотита в футере*/
  --top-line-color: #ececec; /* цвет верхней линии в хедере */

  --primary-backgraund: #ffffff; /*background страницы */
  --tean-section-background: #f5f4fa; /*background секции командв */
  --secondary-background: #2f303a; /*background футера  и героя */
  --hero-text-color: #ffffff;
  --white-text-color: #ffffff;

  --background-filter-btn: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--primary-backgraund);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}
input {
  padding-right: 0;
}

.no-decor {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid orange; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.photo-no-line {
  display: block;
}

/* ----------------- HEADER ----------------- */
.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: flex;
  align-items: center;
}
.logo-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.page-header .logo-link {
  margin-right: 92px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-header {
  color: var(--header-logo-color);
}

.nav-links {
  display: flex;
  column-gap: 50px;
}
.nav-contacts {
  display: flex;
  column-gap: 50px;
  margin-left: auto;
}

.link-item {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.link-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
}

.current::after {
  opacity: 1;
}

.link-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.icon-nav {
  /* margin-right: 10px; */
  fill: currentColor;
}

.event-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.event-link:hover,
.event-link:focus {
  color: var(--accent-color);
}

/* ----------------- MAIN ----------------- */
/* HERO SECTION */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--secondary-background);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-titel {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
.hero-btn {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* SKILLS SECTION */
.skills-list {
  display: flex;
  column-gap: 30px;
}
.icon-skill-comtent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--tean-section-background);
  border-radius: 4px;
  margin-bottom: 30px;
}
.skill-list-header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.skill-list-text {
  max-width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ABOUT SECTION */
.about {
  padding-top: 0;
}

.about-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.about-list {
  display: flex;
  column-gap: 30px;
}

.about-item {
  position: relative;
}

.about-lable {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 15px;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/* TEAM SECTION */
.team {
  background: var(--tean-section-background);
}
.team-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list {
  display: flex;
  column-gap: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-text {
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: var(--primary-backgraund);
}

.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.member-info {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.icon-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-soc-item {
  width: 44px;
  height: 44px;
}
.icon-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* background-color: #02658b; */
  color: #afb1b8;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-soc-link:hover,
.icon-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.icon {
  /* margin-right: 10px; */
  fill: currentColor;
}

/* CLIENTS SECTION */
.clients-titel {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.client-list {
  display: flex;
  gap: 30px;
}

.client-list-item {
  width: 170px;
  height: 92px;
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* ----------------- PORTFOLIO ----------------- */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  background: var(--background-filter-btn);
  font-family: inherit;
  /* font-style: normal; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  min-width: calc((100% / 3)-90);
}

.portfolio-list > .list-item {
  width: calc((100% - 60px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list > .list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list > .list-item:hover .hint-text {
  transform: translateY(0%);
}

.portfolio-list .item-photo {
  display: block;
}

.hint-text-wrap {
  position: relative;
  overflow: hidden;
}

.hint-text {
  position: absolute;
  left: 0;
  top: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-text {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-pos-titel {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-group-titel {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ----------------- FOOTER ----------------- */
.footer-pege {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--secondary-background);
}

.footer-address-wrap {
  width: calc((50% - 45px) / 2);
  margin-right: 30px;
  /* margin-right: 70px; */
}
.logo-footer {
  color: var(--footer-logo-color);
}

.footer-pege .logo-link {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-pege .container {
  display: flex;
  align-items: baseline;
}

.footer-soc-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.contact-address {
  display: inline-block;
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-item {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-soc-wrap {
  width: calc((50% - 45px) / 2);
  margin-right: 30px;
  /* margin-right: 93px; */
}
.footer-soc-wrap > .icon-soc-list {
  justify-content: start;
}
.footer-soc-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-text-color);
}

.footer-subscribe-wrap {
  display: flex;
  align-items: flex-end;
  width: calc(50% - 15px);
  /* padding-left: 15px; */
}
.subscribe-mail {
  width: 100%;
  margin-right: 12px;
}
.lable-subscribe {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);
}
.input-subscribe {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  /* min-width: 200px; */
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.text-btn-subscribe {
  padding-left: 4px;
  margin-right: 10px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}
.icon-send {
  fill: #ffffff;
}
/* ----------------- MODAL ----------------- */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop {
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.icon-close {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover > .icon-close,
.modal-close:focus > .icon-close {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-titel {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-input-lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}
.modal-form-input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:focus,
.modal-form-area:hover,
.modal-form-area:focus {
  border-color: var(--accent-color);
}
.icon-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover + .icon-form,
.modal-form-input:focus + .icon-form {
  fill: var(--accent-color);
}

.modal-form-area {
  padding: 12px 16px;
  width: 100%;
  min-height: 120px;
  margin-bottom: 20px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-area::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-check-lable {
  display: flex;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  justify-content: center;
}

.policy-contract {
  text-decoration-line: underline;

  color: var(--accent-color);
}

.check-wrap {
  margin-bottom: 30px;
}

.user-checking {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.icon-check-true {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check:checked + .modal-check-lable .user-checking {
  background-color: #2196f3;
  border: none;
}

.modal-form-check:checked + .modal-check-lable .icon-check-true {
  fill: #ffffff;
}

.btn-modal {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn-modal:hover,
.btn-modal:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
